/*Style reset*/
ul {
    padding-inline-start: o;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-block-start: 0;
    margin-block-end: 0;
}

a {
    text-decoration: none;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

.link {
    text-decoration: none;
    color: inherit;
    padding: 24px 0;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*End style reset*/


:root {
    --primary-color: #2E2F42;
    --secondary-color: #434455;
    --title-color: #FFFFFF;
}

/* Generale*/
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 156px;
    padding-right: 156px;
}

/* End Generale*/
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.header-box {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-menu {
    display: flex;
}

.page-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.span-item {
    color: #2E2F42;
}

.menu {
    display: flex;
    gap: 40px;
}

.header-item {
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-link-active {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    padding: 24px 0;
}

.studio-link {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-link::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-active:hover {
    color: #404bbf;
}

.header-link-active:focus {
    color: #404bbf;
}

.address {
    display: block;
    font-style: italic;
    unicode-bidi: isolate;
}

.contacts-box {
    display: flex;
    gap: 40px;
    justify-content: space-around;
    padding-top: 24px;
    margin-left: 332px;
}

.contact-item {
    font-weight: 400;
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item:hover {
    color: #404bbf;
}

.contact-item:focus {
    color: #404bbf;
}

.first-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    padding: 188px 0;
    max-width: 1440px;
}

.first-section .title {
    max-width: 496px;
    margin: auto;
}

.title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.primary-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #4D5AE5;
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    padding: 16px 32px;
    margin: auto;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.primary-button:hover {
    background-color: #404BBF;
}

.primary-button:focus {
    background-color: #404BBF;
}

.benefits-page {
    padding: 120px 0;
    ;
}

.benefits-list {
    display: flex;
    gap: 24px;
}

.benefits-list-item {
    width: calc((100% - 3* 24px) / 4);
}

.svg-benefits-list {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}


.subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    margin-bottom: 8px;
}

.paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}

.visually-hidden {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.third-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.third-section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.our-team-list {
    display: flex;
    gap: 24px;
}

.team {
    background-color: #FFFFFF;
    text-align: center;
    flex-basis: calc((100% - 3* 24px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.avatar-information {
    padding: 32px 0;
    text-align: center;
}

.social-media-third-section {
    display: flex;
    justify-content: center;
    gap: 24px;

}

.social-media-icon {
    width: 40px;
    height: 40px;
}

.social-media-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover {
    background-color: #404bbf;
}

.social-media-link:focus {
    background-color: #404bbf;
}

.svg-social-media {
    fill: #f4f4fd;
}

.our-portofolio-page {
    padding: 120px 0;
}

.fourth-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
    padding: 120px 0;
}

.portofolio-list {
    display: flex;
    row-gap: 48px;
    column-gap: 24px;
    flex-wrap: wrap;
}

.portofolio-item {
    width: calc((100% - 48px) / 3);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portofolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}

.image-container {
    position: relative;
    overflow: hidden;
}

.portofolio-paragraph {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.app-information {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none
}

.footer-section {
    background-color: #2e2f42;
    padding: 100px 0;
}

.container-footer {
    margin-right: 120px;
    display: flex;
    align-items: baseline;
}

.container-footer-logo {
    margin-right: 120px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}


.footer-span {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: #F4F4FD;
}



.footer-paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}

.footer-social-media {
    display: flex;
}

.footer-social-media-text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 16px;
}

.footer-social-media-list {
    display: flex;
    gap: 16px
}

.svg-footer-list {
    width: 40px;
    height: 40px;
}

.svg-footer-social-media {
    fill: #f4f4fd;

}

.svg-footer-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

.svg-footer-link:hover {
    background-color: #31d0aa;
}

.svg-footer-link:focus {
    background-color: #31d0aa;
}