/*Style reset*/
ul {
    padding-inline-start: o;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-block-start: 0;
    margin-block-end: 0;
}

a {
    text-decoration: none;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

.link {
    text-decoration: none;
    color: inherit;
    padding: 24px 0;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*End style reset*/


:root {
    --primary-color: #2E2F42;
    --secondary-color: #434455;
    --title-color: #FFFFFF;
}

/* Generale*/
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 156px;
    padding-right: 156px;
}

/* End Generale*/
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.header-box {
    border-bottom: 1px solid #e7e9fc;
}

.container-menu {
    display: flex;
}

.page-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.span-item {
    color: #2E2F42;
}

.menu {
    display: flex;
    gap: 40px;
}

.header-item {
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-link-active {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    padding: 24px 0;
}

.header-link:hover {
    color: #404bbf;
}

.header-link:focus {
    color: #404bbf;
}

.address {
    display: block;
    font-style: italic;
    unicode-bidi: isolate;
}

.contacts-box {
    display: flex;
    gap: 40px;
    justify-content: space-around;
    padding-top: 24px;
    margin-left: 332px;
}

.contact-item {
    font-weight: 400;
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contact-link:hover {
    color: #404bbf;
}

.contact-link:focus {
    color: #404bbf;
}

.first-section {
    background: url(../images/Dark-bg.jpg), url(../images/people-office.png);
    display: flex;
    padding: 188px 0;
}

.first-section .title {
    max-width: 496px;
    margin: auto;
}

.title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.primary-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #4D5AE5;
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    padding: 16px 32px;
    margin: auto;
    border: none;

}

.primary-button:hover {
    background-color: #404BBF;
}

.primary-button:focus {
    background-color: #404BBF;
}

.benefits-page {
    padding: 120px 0;
    ;
}

.benefits-list {
    display: flex;
    gap: 24px;
}

.benefits-list-item {
    width: calc((100% - 3* 24px) / 4);
}

.subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    margin-bottom: 8px;
}

.paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}

.visually-hidden {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.third-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.third-section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.our-team-list {
    display: flex;
    gap: 24px;
}

.team {
    background-color: #FFFFFF;
    text-align: center;
    flex-basis: calc((100% - 3* 24px) / 4);
    border-radius: 0 0 4px 4px;
}

.avatar-information {
    padding: 32px 0;
    text-align: center;
}

.our-portofolio-page {
    padding: 120px 0;
}

.fourth-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
    padding: 120px 0;
}

.portofolio-list {
    display: flex;
    row-gap: 48px;
    column-gap: 24px;
    flex-wrap: wrap;
}

.portofolio-item {
    width: calc((100% - 48px) / 3);
}

.app-information {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none
}

.footer-section {
    background-color: #2e2f42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    color: #4d5ae5;

}

.footer-span {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: #F4F4FD;
}

.footer-section {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-span {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: #F4F4FD;
}

.footer-paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}